<h2><%= @band.name %></h2>
<br>

<h3><%= "#{@band.name}'s Albums"%></h3>
<ul>
  <% @albums.each do |album| %>
  <li>
    <%#= album.name %>
    <%= link_to "#{album.name}", band_album_url(@band, album) %>
  </li>
  <% end %>
</ul>
<br>

<h3><%= "#{@band.name}'s Tracks"%></h3>
<ul>
  <% @tracks.each do |track| %>
  <li>
    <%#= track.name %>
    <%= link_to "#{track.name}", track_url(track) %>
  </li>
  <% end %>
</ul>
<br>


<%= button_to "Add album", new_album_url, method: :get%>
<%= button_to "Edit band", edit_band_url(@band), method: :get %>
<%= button_to "Delete band", band_url(@band), method: :delete %>
<br>

