<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <!-- <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %> -->
  <%= csrf_meta_tags %>
</head>
<body>

  <%= debug session %>
  <%= debug current_user %>
  <% if current_user.nil? %>
    <%= button_to "Log in", new_session_url, method: :get %>
    <%= " or " %>
    <%= button_to "Register", new_user_url, method: :get %>
  <% else %>
    <%= "Hello, #{current_user.email}!"%> <br>
    <%= button_to "Log out", session_url, method: :delete %>
  <% end %>

<%= yield %>

<%= link_to "Return to bands page", bands_url %>
</body>
</html>
